@font-face {
    font-family: "annieUYT";
    src: url(../fonts/AnnieUseYourTelescope-Regular.woff2);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "annieUYT", 'Courier New', Courier, monospace
}

/* NAVIGATION */
.ctrl {
    display: flex;
    justify-content: center;
}







/* CANVAS AREA */
#canvas {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 70%;
    flex: none;
    margin: 0 auto;
    border: 4px solid black 
}